.section-lectures {
    padding-top: 100px;
    background-color: $light-purple;

    .section-title {
        color: $white;
        margin-bottom: 100px;
    }

    .speaker {
        & > div {
            width: 50%;
            height: 350px;

            @include mobileAndTablet {
                width: 100%;
                height: 100%;
            }
        }

        &:nth-child(even) {
            flex-direction: row-reverse;
        }

        &-description {
            background-color: $dark-purple;

            .content {
                padding-left: 60px;
                padding-top: 60px;
                color: $white;
                font-family: 'Arial';
                font-size: 13px;
                line-height: 20px;
                max-width: 545px;

                @include mobileAndTablet {
                    padding: 60px 30px!important;
                    text-align: left!important;
                    margin: 0 auto!important;
                }
                
                .speaker-info {
                    color: $coral-blue;
                    margin-bottom: 40px;
    
                    h3 {
                        font-family: 'Bebas Neue';
                        font-size: 24px;
                    }
                    p {
                        font-size: 14px;
                        line-height: 25px;
                    }
                }
            }
        }

        &:nth-child(even) {
            text-align: right;

            .content {
                padding-right: 60px;
                margin-right: 0;
                margin-left: auto;
            }
        }

        .speaker-image {
            background-size: cover;
            background-position: center center;
            height: 350px;

            &[data-speaker='marcelo'] {
                background-image: url('../assets/img/backgrounds/palestras/bg-palestra-marcelo.png');
                
                @include mobile {
                    background-position-x: 10%;
                }
            }

            &[data-speaker='marilia'] {
                background-image: url('../assets/img/backgrounds/palestras/bg-palestra-marilia.png');
                
                @include mobile {
                    background-position-x: 85%;
                }
            }

            &[data-speaker='ricardo'] {
                background-image: url('../assets/img/backgrounds/palestras/bg-palestra-ricardo.png');

                @include mobile {
                    background-position-x: 70%;
                }
            }
        }

        @include mobileAndTablet {
            flex-direction: column!important;
        }
    }


}