.section-partners {
    padding: 150px 0;
    
    .title {
        margin-bottom: 55px;
        font-family: 'Bebas Neue';
        color: $coral-blue;
        font-weight: bold;
    }

    .event-helders {
        width: 675px;

        .row {
            width: 100%;
            // align-items: center;

            &:nth-of-type(even) {
                margin: 40px 0;
            }
        }
    }
}