.section-schedule {
    padding: 200px 0 130px 0;

    @include mobile {
        padding: 100px 0;
    }

    .section-title {
        color: $light-purple;
    }

    .schedule {
        max-width: 920px;
        margin: 95px auto 0 auto;

        @include mobileAndTablet {
            flex-direction: column;
            align-items: center;

            &-day {
                width: 100%;

                &:nth-child(2) {
                    margin: 40px 0;
                }
            }
        }
        
    }
    .schedule-day {
        max-width: 280px;
        flex: 1 0 30%;

        .day {
            padding-left: 15px;
            margin-bottom: 20px;
            font-family: 'Bebas Neue';
            font-size: 26px;
            font-weight: 600;
            color: $dark-gray;
        }

        .schedule-activities {
            width: 100%;
            font-size: 13px;
            font-family: 'Arial';
            color: $dark-gray;

            .activity {
                padding: 15px;

                &:nth-child(odd) {
                    background-color: $soft-purple;
                }

                .time {
                    font-weight: 600;
                    
                    &:after {
                        content: ' – ';
                    }
                }
            }
        }
    }
}