/*
    Bold: 600
    Regular: 400
    Normal: 200
*/

@font-face {
    font-family: 'Arial';
    src: url('../assets/fonts/arial_bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/arial_bold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'Arial';
    src: url('../assets/fonts/arial_regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/arial_regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../assets/fonts/bebasneue_bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/bebasneue_bold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../assets/fonts/bebasneue_regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/bebasneue_regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../assets/fonts/bebasneue-webfont.woff2') format('woff2'),
         url('../assets/fonts/bebasneue-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../assets/fonts/bebasneue_light-webfont.woff2') format('woff2'),
         url('../assets/fonts/bebasneue_light-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;

}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../assets/fonts/bebasneue_thin-webfont.woff2') format('woff2'),
         url('../assets/fonts/bebasneue_thin-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;

}