.container {
    max-width: 1280px;
    margin: 0 auto;

    @include mobile {
        margin: 0 15px;
    }
    
    &-fluid {
        max-width: 100%;
        width: 100%;
    }
}

.flex {
    display: flex;

    &.flex-center {
        justify-content: center;
        align-items: center;
    }
    &.flex-column {
        flex-direction: column;
    }
}

.section {
    & > .flex {
        @include mobile {
            flex-direction: column;
        }
    }
}

.img-responsive {
    width: 100%;
    margin: 0 auto;
}

.text-uppercase {
    text-transform: uppercase;
}

.btn {
    border: 1px solid $white;
    color: $white;
    height: 60px;
    line-height: 60px;
    text-align: center;
    padding: 0 25px;
    cursor: pointer;
    transition: opacity .2s;

    &:hover {
        opacity: 0.8;
    }

    &:visited {
        color: $white;
    }
    
}